@model User
@{

}
<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <h1 class="mb-3">Registration</h1>
        <form asp-controller="Authorization" asp-action="Register" method="post">
            <div asp-validation-summary="All" class="text-danger">
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="UserName">Username</label>
                <input type="text" asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="Email">Email address</label>
                <input type="text" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="Password">Password</label>
                <div class="input-group">
                <input type="password" asp-for="Password" class="form-control" />
                <span class="input-group-text"><i class="far fa-eye" id="togglePassword"></i></span>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="Nationality">Nationality</label>
                <input type="text" asp-for="Nationality" class="form-control" />
                <span asp-validation-for="Nationality" class="text-danger"></span>
            </div>
             <div class="mb-3">
                <label class="form-label" asp-for="Citizenship">Citizenship</label>
                <input type="text" asp-for="Citizenship" class="form-control" />
                <span asp-validation-for="Citizenship" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="BirthDate">BirthDate</label>
                <input type="Date" asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </form>
    </div>
</div>
