html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.header-img {
    position: relative;
    margin: auto;
    width: 400px;
    height: 200px;
    background: url('https://i.ibb.co/vzk60W3/Webp-net-resizeimage.png');
    background-size: contain;
    background-repeat: no-repeat;
    left: 2%;
    top: 20px;
}

.recaptcha {
    height: 10vh
}

#toggle-password:hover{
    cursor:pointer;
}

.currency-selection-fields {
    width: 48%;
}


.website-font {
    font-family: serif;
}

.converter-value-fields {
    width: 45%;
}

.equality-sign {
    width: 10%;
    text-align:center;
    background-color: white;
}

.profile-button {
    height: 100%;
    border-radius: 50%;
    background-color:white;
    border-color : black;
}


